.blog-cell {
  min-height: 1em;
  margin: auto;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  border-radius: 0.5em;
  padding: 0.6rem;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.invisible{ 
  visibility: hidden;
}

.dark.blog-cell {
  background-color: #444444;
  color: #999999;
  border: 1px solid #999999;
}

.light.blog-cell {
  background-color: #efefef;
  border: 1px solid #fefefe;
}